* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}



:root{

--maincolor1: #f53d2d;
--maincolor2: #f63;

--height: 120px;
--navheight: 34px;
}



html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.2rem;
}
/* test */

.main{
  overflow:hidden;
  
}


@keyframes fadein{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes scale{
  from{
    opacity: 0;
    transform: scale(0);

  }
  to{
    opacity: 1;
    transform: scale(1);

  }
}



/* Modal */

.modal{
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right: 0;
  display: none;
  animation: fadein 0.4s ease-in;
}

.modal__overlay{
  position: absolute;
  height: 100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.2);

}

.modal__main{
  
  background-color: white;
  margin: auto;
  position: relative;
  border-radius: 5px;
  animation: scale ease-in .4s;
  
}

.btn{
  padding:10px 14px;
  border: none;
  outline: none;
  font-size: 1.6rem;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.btn:hover{
  background-color: rgb(212, 212, 212);
}

.primary-btn{
  color:white;
  background-color: var(--maincolor2);
}

.primary-btn:hover{
  background-color: var(--maincolor1);
}

