@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

header {
  height: 120px;
  background: linear-gradient(#f53d2d, #f63);
}

header nav {
  display: flex;
  justify-content: space-between;
  height: 34px;
}

header nav ul {
  display: flex;
}

header nav li {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  margin: 0 8px;
  position: relative;
}

header nav li::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: white;
  left: -8px;
}

header nav li:first-child::before {
  display: none;
}

header nav li a {
  text-decoration: none;
  color: white;
  display: block;
}

header nav li a:hover {
  opacity: 0.7;
}

header nav li i {
  margin: 0 4px;
}

header nav li:hover .down-app {
  display: block;
}

header nav li .down-app {
  z-index: 2;
  display: none;
  position: absolute;
  top: 34px;
  animation: fadein linear .5s;
}

header nav li .down-app .qr {
  width: 190px;
}

header nav li .down-app .mobile {
  display: flex;
  padding: 8px;
  justify-content: space-between;
}

header nav li .down-app .mobile img {
  height: 18px;
}

header nav li:hover .header__noti {
  display: flex;
  cursor: default;
}

header nav li .header__noti {
  z-index: 2;
  position: absolute;
  top: 34px;
  right: 0;
  background-color: white;
  display: none;
  flex-direction: column;
  width: 350px;
  height: 300px;
  justify-content: center;
  align-items: center;
  animation: scale linear .2s;
  transform-origin: 95% 0 0;
}

header nav li .header__noti img {
  width: 50%;
}

header nav li .header__noti p {
  color: black;
}

header nav li .header__noti::before {
  top: -24px;
  right: 12px;
  content: "";
  position: absolute;
  border: 15px solid;
  border-color: transparent transparent white transparent;
}

header .header-with-search {
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-with-search .logo {
  padding: 8px;
  width: 160px;
  margin-right: 32px;
}

header .header-with-search .header__search {
  flex: 1;
  display: flex;
  position: relative;
  width: 80%;
  background-color: white;
  padding: 3px;
}

header .header-with-search .header__search input {
  width: 80%;
  font-size: 1.6rem;
  padding: 10px;
  outline: none;
  border: none;
  flex: 1;
}

header .header-with-search .header__search input:focus ~ .history-search {
  display: block;
}

header .header-with-search .header__search .btn-search {
  padding: 8px 32px;
  background-color: #f63;
  font-size: 1.8rem;
  color: white;
  border-radius: 3px;
}

header .header-with-search .header__search .btn-search:hover {
  background-color: #f53d2d;
}

header .header-with-search .header__search .history-search {
  display: none;
  position: absolute;
  background-color: white;
  top: 50px;
  width: 88%;
  padding: 10px;
  left: 0;
  border-radius: 3px;
}

header .header-with-search .header__search .history-search p {
  color: gray;
  font-size: 1.8rem;
  margin-bottom: 16px;
}

header .header-with-search .header__search .history-search ul {
  font-size: 1.5rem;
  list-style-type: none;
}

header .header-with-search .header__search .history-search ul li {
  margin: 4px 0;
  padding: 4px 0;
}

header .header-with-search .header__search .history-search ul li:hover {
  background-color: lightgray;
  cursor: pointer;
}

header .header-with-search .cart {
  margin: 0 65px;
  font-size: 30px;
  color: white;
  font-weight: 700;
  position: relative;
}

header .header-with-search .cart:hover .cart--empty {
  display: flex;
}

header .header-with-search .cart--empty {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  right: 0;
  top: 40px;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  animation: scale linear .2s;
  transform-origin: 95% 0 0;
}

header .header-with-search .cart--empty img {
  width: 100%;
}

header .header-with-search .cart--empty p {
  color: gray;
  font-size: 2rem;
}

header .header-with-search .cart--empty::before {
  content: "";
  position: absolute;
  border: 12px solid;
  border-color: transparent transparent white;
  top: -22px;
  right: 4px;
}

.body-app {
  background-color: #f5f5f5;
  padding: 20px 0;
}

.body-app .content {
  display: flex;
}

.body-app nav {
  padding-left: 8px;
  width: calc(100% /6);
}

.body-app nav h3 {
  font-size: 2rem;
  padding: 20px 0;
}

.body-app nav ul {
  list-style-type: none;
}

.body-app nav ul a {
  font-size: 1.6rem;
  text-decoration: none;
  color: inherit;
}

.body-app nav ul .category__item {
  padding: 10px 20px;
}

.body-app nav ul .category__item--active {
  color: #f53d2d;
}

.body-app .item {
  width: calc(100% - 100% / 6);
}

.body-app .item__filter {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: #b3b3b3;
  width: 100%;
  border-radius: 3px;
}

.body-app .item ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.body-app .item ul p {
  font-size: 1.6rem;
  padding: 0 16px;
}

.body-app .item li {
  margin: 0 4px;
  background-color: white;
  display: inline;
  padding: 12px 16px;
  font-size: 1.4rem;
  border-radius: 3px;
}

.body-app .item li.main {
  background-color: #f63;
  color: white;
}

.body-app .item li span {
  color: #f53d2d;
}

.body-app .item li:hover {
  cursor: pointer;
}

.body-app .item__product {
  position: relative;
  border-radius: 3px;
  margin-top: 12px;
  width: calc(100% / 5);
  background-color: white;
}

.body-app .item__product img {
  width: 100%;
}

.body-app .item__product .content-wrap {
  padding: 10px;
}

.body-app .item__product .content-wrap p {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.body-app .item__product .content-wrap .cost {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}

.body-app .item__product .content-wrap .cost .old-cost {
  text-decoration: line-through;
}

.body-app .item__product .content-wrap .cost .new-cost {
  color: #f53d2d;
  font-weight: bold;
}

.body-app .item__product .content-wrap .more-info {
  justify-content: space-between;
  font-size: 1.2rem;
  display: flex;
}

.body-app .item__product .content-wrap .more-info .like {
  color: red;
}

.body-app .item__product .content-wrap .more-info .star {
  color: #ffd000;
}

.body-app .item__product .content-wrap .origi {
  padding-top: 10px;
  margin-left: auto;
  text-align: right;
}

.body-app .item__product .content-wrap .favorite {
  position: absolute;
  background-color: #f63;
  padding: 2px 8px;
  color: white;
  left: -4px;
  top: 20px;
  border-radius: 0 3px 3px 0;
}

.body-app .item__product .content-wrap .favorite::before {
  content: "";
  position: absolute;
  border: 2px solid;
  border-color: black black transparent transparent;
  left: 0px;
  top: 16px;
  color: #a04300;
}

.body-app .item__product .content-wrap .sale-off {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  padding: 7px 5px;
  color: #f63;
  background-color: #edff4d;
  top: 0;
  right: 0;
  opacity: 0.9;
}

.body-app .item__product .content-wrap .sale-off::after {
  position: absolute;
  content: "";
  top: 30px;
  right: 0;
  border: 19px solid;
  border-top: none;
  border-color: transparent #edff4d transparent #edff4d;
}
/*# sourceMappingURL=style.css.map */