@import "./import";

header{
    height: $height;
    background: linear-gradient($maincolor1,$maincolor2);
    nav{
        display: flex;
        justify-content: space-between;
        height: $navheight;
        ul{
            display: flex;
        }
        li{
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            color: white;
            margin:0 8px;
            position: relative;
           
            &::before{
                content: "";
                position: absolute;
                width: 1px;
                height: 15px;
                background-color: white;
                left:-8px
            }
            &:first-child::before{
                display: none;
            }

            
            a{
                &:hover{
                    opacity: 0.7;
                }
                text-decoration: none;
                color:white;
                display: block;
            }
            i{
                margin:0 4px;
            }
            &:hover .down-app{
                display: block;
            }
            .down-app{
                z-index: 2;
                display: none;
                position: absolute;
                top:34px;
                animation: fadein linear .5s;
                .qr{
                    width: 190px;
                }
                .mobile{
                    display: flex;
                    padding:8px;
                    justify-content: space-between;
                    img{
                        height: 18px;
                    }
                }
            }

            &:hover .header__noti{
                display: flex;
                cursor: default;
            }
            .header__noti{
                z-index: 2;
                position: absolute;
                top:34px;
                right:0;
                background-color: white;
                display: none;
                flex-direction: column;
                width: 350px;
                height: 300px;
                justify-content: center;
                align-items: center;
                animation: scale linear .2s;
                transform-origin:95% 0 0 ;
                img{
                    width: 50%;
                }
                p{
                    color:black
                }
                &::before{
                    top:-24px;
                    right: 12px;
                    content: "";
                    position: absolute;
                    border:15px solid;
                    border-color: transparent transparent white transparent;
                }
            }
        }
    }
    .header-with-search{
        height: $height - $navheight;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            padding:8px;
            width:160px;
            margin-right: 32px;
        }
        .header__search{
            flex:1;
            display: flex;
            position: relative;
            width: 80%;
            background-color: white;
            padding:3px;
            
            input{
                width: 80%;
                font-size: 1.6rem;
                padding:10px;
                outline: none;
                border:none;
                flex:1;
                &:focus ~ .history-search{
                    display: block;
                }
            }

            .btn-search{
                padding:8px 32px;
                background-color: $maincolor2;
                font-size: 1.8rem;
                color:white;
                border-radius: 3px;
                &:hover{
                    background-color: $maincolor1;
                }
            }

            .history-search{
                display: none;
                position: absolute;
                background-color: white;
                top: 50px;
                width: 88%;
                padding:10px;
                left:0;
                border-radius: 3px;
                p{
                    color:gray;
                    font-size: 1.8rem;
                    margin-bottom:16px;
                }
                ul{
                    font-size: 1.5rem;
                    list-style-type: none;
                    li{
                        margin:4px 0;
                        padding:4px 0;
                        &:hover{
                            background-color: rgb(211, 211, 211);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .cart{
            margin:0 65px;
            font-size: 30px;
            color: white;
            font-weight: 700;
            position: relative;
            

            &:hover .cart--empty{
                display: flex;
            }
            &--empty{

                display:  none;
                flex-direction: column;
                position: absolute;
                background-color: white;
                right: 0;
                top:40px;
                width: 300px;
                height: 300px;
                justify-content: center;
                align-items: center;
                animation: scale linear .2s;
                transform-origin:95% 0 0 ;
                img{width: 100%;
                }
                p{
                    color:gray;
                    font-size: 2rem;
                    
                }
                &::before {
                    content: "";
                    position: absolute;
                    border: 12px solid;
                    border-color: transparent transparent white;
                    top: -22px;
                    right: 4px;
                }
            }
        }
    }

}

.body-app{
    background-color: #f5f5f5;
    padding:20px 0;
    .content{
        display: flex;
    }
    nav{
        padding-left: 8px;
        width: calc(100% /6);
        h3{
            font-size: 2rem;
            padding:20px 0;
            

        }
        ul{
            list-style-type:none;
            a{
                font-size: 1.6rem;
                text-decoration: none;
                color:inherit
            }

            .category__item{
                padding:10px 20px;
                &--active{
                    color:$maincolor1;
                }
                
            }
        }
    }

    .item{
        padding-left: 24px;
        width:calc(100% - 100% / 6);
        &__filter{
            display: flex;
            justify-content: space-between;
            height: 64px;
            background-color: rgb(179, 179, 179);
            width: 100%;
            border-radius: 3px;
        }
        ul{display: flex;
            list-style-type: none;
            align-items: center;
            p{
                font-size: 1.6rem;
                padding:0 16px;
            }
        }
        li{
            &.main {
                background-color: $maincolor2;
                color:white;
            }
            margin:0 4px;
            background-color: white;
            display: inline;
            padding:12px 16px;
            font-size: 1.4rem;
            border-radius: 3px;
            span{
                color: $maincolor1;
            }
            &:hover{
                cursor: pointer;
            }
        }
        &__product{
            box-shadow: 0 0 3px gray;
            position: relative;
            border-radius: 3px;
            margin-top:12px;
            width: calc(100% / 5);
            background-color: white;
            transition: ease;
            &:hover{
                top:-1px;
                box-shadow: 0 0 6px gray;
            }
            img{
                width: 100%;
            }
            .content-wrap{
                padding:10px;
                p{
                    font-size: 1.3rem;
                    line-height: 1.5rem;
                }
                .cost{
                    padding:20px 0px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.6rem;
                    .old-cost{
                        text-decoration: line-through;
                    }
                    .new-cost{
                        color:$maincolor1;
                        font-weight: bold;
                    }

                }
                .more-info{
                    justify-content: space-between;
                    font-size: 1.2rem;
                    display: flex;
                    .like{
                        color:red
                    }
                    .star{
                        color:rgb(255, 208, 0)
                    }

                }
                .origi{
                    padding-top:10px;
                    margin-left: auto;
                    text-align: right;
                    color:gray;
                }
                .favorite{
                    position:absolute;
                    background-color: $maincolor2;
                    padding:2px 8px;
                    color:white;
                    left:-4px;
                    top:20px;
                    border-radius:0 3px 3px 0;
                    &::before{
                        content: "";
                        position: absolute;
                        border: 2px solid;
                        border-color: black black transparent transparent;
                        left: 0px;
                        top: 16px;
                        color:rgb(160, 67, 0);
                    }
                }
                .sale-off{
                    position: relative;
                    text-align: center;
                    font-weight: bold;
                    font-size: 1.2rem;
                    position: absolute;
                    padding:7px 5px;
                    color: $maincolor2;
                    background-color: #edff4d;
                    top:0;
                    right: 0;
                    opacity: 0.9;
                    &::after{
                        position: absolute;
                        content: "";
                        top:30px;
                        right: 0;
                        border:19px solid ;
                        border-top:none;
                        border-color:transparent #edff4d transparent #edff4d;

                    }
                    
                }
            }
        }

    }
}
