header{
    height: var(--height);
    background: linear-gradient(var(--maincolor1),var(--maincolor2));
  }

.header__nav{
    display: flex;
    justify-content: space-between;
    height: var(--navheight);
    font-size: 1.4rem;
    color:white;

}
.nav__list{
    display: flex;
    list-style-type: none;
    
}

.nav__item{
    display:flex;
    align-items: center;
    padding:0 8px;
    position: relative;
    cursor: pointer;


}

.nav__item--bold{
    cursor:pointer;
}



.nav__item--bold{
    font-weight: 700;
}

.nav__item--separate::after{
    content: "";
    position: absolute;
    height: 50%;
    border-left: 1px solid white;
    right: 0;
}
.nav__link{
    align-items: center;
    display: flex;
    text-decoration: none;
    color:inherit;
}

.nav__link:hover{
    opacity: 0.8;
    
}



.nav__link>i{
    padding:0 1px;
}

.ti-instagram{
    margin-left: 4px;
}

.nav__item:hover>.nav__down-app{
    display: flex;
    opacity: 1;
    background-color: white;
    box-shadow: 0 0 7px rgb(185, 185, 185);
}

.nav__down-app{
    z-index: 10;
    position: absolute;
    top:34px;
    display: none;
    flex-direction: column;
    width: 180px;
    animation: fadein linear 0.2s;
}

.nav__down-app>img{
    width: 100%;
}
.down-app__mobile{
    display: flex;
    justify-content: space-between;
    padding:4px 10px;
}

.down-app__mobile>img{
    height: 17px;
}

.nav__item:hover .header__noti{
    box-shadow: 0 0 6px rgb(180, 179, 179);

    display: block;
    z-index: 10;
}

.nav__item-user{
    display: flex;

}

.user__img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    position: relative;
    top:-2px;
}

.user__name{
    margin-left:0;
    font-weight: 700;
}

.user__nav{
    z-index: 10;
    position: absolute;
    list-style-type: none;
    background-color: white;
    top: 34px;
    color: black;
    right: 8px;
    width: 130px;
    border-radius:3px ;
    font-size: 1.4rem;
    font-weight: 500;
    box-shadow: 0 0 5px rgb(219, 219, 219);
    display: none;
    animation: scale linear 0.2s;
    transform-origin:80% 0 0 ;
}

.nav__item-user:hover .user__nav{
    display: block;
}

.user__nav::after{
    content: "";
    position: absolute;
    border: 11px solid;
    border-color: transparent transparent white transparent;
    top: -22px;
    right: 20%;
    border-left-width: 18px;
    border-right-width: 18px;
    cursor: pointer;

}


.user__nav-item{
    padding:12px 8px;
}

.user__nav-item:last-child{
    color:gray;
    border-top: 2px solid rgb(238, 238, 238);
}

.user__nav-item:hover{
    background-color: rgb(199, 199, 199);
    cursor: pointer;
}

.header__noti{
    position: absolute;
    top:34px;
    right:0;
    width: 340px;
    display: none;
    animation: scale linear 0.2s;
    transform-origin:90% 0 0 ;
}

.header__noti::after{
    content: "";
    position: absolute;
    border:16px solid;
    border-color: transparent transparent white transparent;
    top: -25px;
    right: 7px;
    border-left-width: 27px;
    border-right-width: 27px;
    cursor: pointer;
}

.noti__head{
    background-color: white;
    font-size: 1.6rem;
    padding:8px;
    color:gray;
    padding:8px;
}

.noti__list{
    background-color: beige;
    list-style-type: none;
    overflow: hidden;
}

.noti__item{
    padding:8px 8px 4px ;
    display: flex;
    align-items: center;
    
}

.noti__item:hover{
    background-color: ghostwhite;
    cursor: pointer;
}

.noti__img{
    margin-right: 8px;
    
}
.noti__img>img{
    height: 60%;
    margin: auto;
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.noti__info{
    font-size: 1.2rem;
    color:gray;
    
}

.noti__label{
    color:black;
    font-size: 1.4rem;
    margin-bottom: 2px;
    overflow: hidden;
    height: 2.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.noti__description{
    color: gray;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
}

.noti__more{
    
    font-size: 1.2rem;

    text-align: center;
    color:grey;
    background-color: rgb(255, 255, 161);
}

.noti__more>a{
    display: block;
    padding:12px 0;
    text-decoration: none;
    color: unset;
}
.noti__more:hover >a{
    background-color: bisque;
    color:var(--maincolor1);
    text-decoration: underline;
    
}

.header__contents{
    display: flex;
    height: calc(var(--height) - var(--navheight));
    align-items: center;
    padding:0 8px;
    justify-content: space-between;

}

.header__contents{
}

.header__contents svg{
    width: 150px;
}

.header__logo-link{
    margin-right: 10px;
    
}

.header__search{
    background-color: white;
    display: flex;
    flex:1;
    height: 40px;
    padding:3px;
    border-radius: 3px;
    position: relative;

}
.header__search>input{
    width: 90%;
    font-size: 1.6rem;
    margin-right: 3px;
    border:none;
    outline: none;
    padding:0 10px;


}

.header__search>input:focus~.search-history{
    display: block;
}

.search-history{
    display: none;
    position: absolute;
    width: 90%;
    top: 45px;
    background: white;
    border-radius: 3px;
    left: 0;
    box-shadow: 0 0 6px rgb(180, 179, 179);
    z-index: 10;

}

.search-history__header{
    font-size: 1.6rem;
    color:rgb(197, 197, 197);
    margin:10px 0;
    padding-left: 10px;

}

.search-history__list{
    list-style-type: none;
}

.search-history__item{
    font-size: 1.4rem;
    color: rgb(71, 71, 71);
    padding:8px 10px;

}
.search-history__item:hover{
    cursor:pointer;
    background-color: rgb(240, 240, 240);
}
.header__btn-search{
    text-align: center;
    font-size: 20px;
    display: flex;
    align-self: center;
    flex: 1;
    justify-content: center;
    background: var(--maincolor2);
    padding: 8px 32px;
    color: white;
    border-radius: 3px;

}
.header__btn-search:hover{
    background-color: var(--maincolor1);
}
.header__cart{
    font-size: 30px;
    color: white;
    padding:10px;
    margin:0 40px;
    position: relative;
    cursor: pointer;
}

.header__cart-amount{
    position: absolute;
    background: white;
    font-size: 1.4rem;
    color: var(--maincolor1);
    padding: 2px 8px;
    line-height: 1.5rem;
    border-radius: 17px;
    border: 2px solid var(--maincolor1);
    top: 1px;
    right: 29px;
}



.header__cart:hover .cart__inner{
    display: flex;

}

.cart__inner{
    position: absolute;
    z-index: 10;
    display: none;
    flex-direction: column;
    width: 440px;
    top: 50px;
    right: 0;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius:3px ;
    box-shadow: 0 0 6px rgb(180, 179, 179);
    animation: scale linear 0.2s;
    transform-origin:90% 0 0 ;
    cursor: default;
}

.cart__inner::after{
    
    content: "";
    position: absolute;
    border:16px solid;
    border-color: transparent transparent white transparent;
    top: -25px;
    right: 0px;
    border-left-width: 27px;
    border-right-width: 27px;
}

.cart__inner>img{
    width: 240px;
    display: none;
}

.cart--empty .cart__inner>img{
    display: block;
}



.cart__inner>p{
    color: black;
    font-size: 1.7rem;
    margin-bottom: 30px;
    display: none;
}

.cart--empty .cart__inner>p{
    display: block;
}

.cart--empty>.header__cart-amount{
    display: none;
}


/* Empty cart false */
.header__cart-header{
    padding:16px 10px;
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(212, 212, 212);
    margin-right:auto ;
    
}

.cart--empty .header__cart-header{
    display: none;
}

.cart--empty .cart__product-list{
    display: none;
}

.cart__product-list{
    width: inherit;
    max-height: calc(68px *5);
    overflow: hidden;
}

.cart__product{
    padding:4px 10px;
    display: flex;
    justify-content: space-between;
    
}

.cart__product:hover{
    background-color: blanchedalmond;
}

.cart__product-img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.cart__product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex:1;
    margin-left: 10px;
}

.cart__product-header{
    display: flex;
    justify-content: space-between;
    

}

.cart__product-name{
    color: black;
    font-size: 1.6rem;
    width: 250px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1 ;
    height: 1.6rem;
    line-height: 1.6rem;
}

.cart__product-prices{
    color: black;
    font-size: 1rem;
}

.cart__product-price{
    color: var(--maincolor1);
    font-size: 1.3rem;
}

.cart__product-amount{

}

.cart__product-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__product-type{
    color: gray;
    font-size: 1.2rem;
    height: 1.2rem;
    width: 250px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.cart__product-remove{
    color: black;
    font-size: 1.3rem;
    padding:4px;
}

.cart__product-remove:hover{
    color:var(--maincolor1);

    cursor: pointer;
}

.cart--empty .cart__more{
    display: none;
}

.cart__more{
    margin:10px;
    margin-left: auto;
    text-decoration: none;
    
}

/* empty-cart on / off */

/* register form */
.authen-form{
    padding:32px;
    width: 500px;
  }
  
  .authen-form__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0 50px;
  }
  
  .authen-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
  }
  
  .authen-form__switch-btn{
    color:var(--maincolor1);
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;
    padding:4px;
  
  }
  
  .authen-form__wrap-input{
    margin-bottom: 20px;
  }
  
  .authen-form__input{
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    padding: 0 10px;
    outline: none;
    
  }

  .authen-form__input:focus{
    border-color: rgb(212, 212, 212);
}
  
  .authen-form__term{
    padding:8px;
    text-align: center;
    font-size: 1.2rem;
    margin-top:40px;
  }
  
  .authen-form__term-link{
    color:var(--maincolor2);
    text-decoration: none;
  }
  .authen-form__term-link:hover{
    color:var(--maincolor1);
    text-decoration: underline;
  
  }
  
  
  .authen-form__controls{
    margin-top:80px;
    text-align: right;
  }
  
  .authen-form-quickly{
    display: flex;
    font-size: 1.4rem;
    justify-content: space-around;
    background: rgb(230, 230, 230);
    border-radius: 0 0 5px 5px;
    padding:12px 32px;
  }
  
  .authen-form-quickly__social{
    padding: 8px 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    cursor:pointer;

  }

  .authen-form-quickly__social i {
      margin-right: 20px;
  }

  .authen-form-quickly__social.fb{
      background-color: #1877f2;
      color:white;
  }
  .authen-form-quickly__social.gg{
      background-color: white;
      color:red;
  }

  
  
  
/* login form */
.authen-form__help{
    font-size: 1.4rem;
    margin-top:40px;
    text-align: right;

}

.authen-form__help-link{
    text-decoration: none;
    padding:4px;
}

.authen-form__help-link:first-child{
    color: var(--maincolor1);
    position: relative;
}

.authen-form__help-link:first-child::after{
    content: "";
    width: 2px;
    height: 16px;
    background-color: gray;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -3px;
}

.authen-form__help-link:nth-child(2){
    color: gray;

}

.body{
    background-color:rgb(241 241 241);
}
/* category */

.category{
    margin:20px 0;
    padding:8px;
    background-color: white;
}

.category__header{
    font-size: 1.7rem;
    padding:8px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(224, 223, 223);
}

.category__header>i{
    margin-right: 8px;
    position: relative;
    top:-2px;
}

.category__list{
    list-style-type: none;
}

.category__item{
    position: relative;
    right: 0;
    padding: 8px 0 8px 26px;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    line-height: 1.6rem;
    transition: linear 0.1s;
    cursor: pointer;
}

.category__item:hover{
    right: 4px;
    color:var(--maincolor1)
}

.category__item--active{
    color:var(--maincolor1);
    cursor: default;
}

.category__item--active::after{
    content: "";
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    border:4px solid;
    border-color: transparent transparent transparent var(--maincolor1);
    left:18px;
}



.category__item--active:hover{
    right: 0;
}

.category__item--active>i{
    display: inline-block;
}

/* Filter */

nav.filter {
    display: flex;
    margin-top:20px;
    align-items: center;
    background-color: rgb(199, 199, 199);
    padding:12px;
    border-radius:3px ;
}

.filter__label{
    padding:10px 14px;
    padding-left: 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.filter__button{
    margin:0 10px 0 0;
}

.filter__price {
    width: 100px;
    position: relative;
    width: 158px;
}

.filter__price:hover .filter__price-select{
    display: block;
}

.filter__price>i{
    margin-left:auto ;
}

.filter__price-select{
    position: absolute;
    top: 35px;
    background: white;
    width: 158px;
    left: 0px;
    border-radius:0 0 3px 3px;
    display: none;
}

.filter__price-item{
    padding: 10px 20px;

}

.filter__price-item:last-child{
    border-radius:0 0 3px 3px ;
}

.filter__price-item:hover{
    background-color: rgb(212, 212, 212);
    
}

/* paginate */

.filter__paginate-wrap{
    margin-left: auto;
    font-size: 1.4rem;
    font-weight: 800;
}

.paginate__current{
    color:var(--maincolor1)
}
.paginate__number{
    margin-right: 10px;
}
/* Products section */

.products__section{
    
}

.product{
    background-color: white;
    box-shadow:0 0 5px rgb(94, 94, 94);
    position: relative;
    margin-top:12px;

}

.product:hover{
    top:-1px;
    box-shadow:0 0 12px rgb(94, 94, 94);


}

.product__img{
    padding-top:100%;
    background-size:contain ;
    background-position:center ;

}

.product__text{
    padding:8px;
}

.product__heading{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 18px;
    font-size: 1.4rem;
}

.product__prices{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top:10px;
}

.product__price-old{
    text-decoration: line-through;
}

.product__price-new{    
    color:var(--maincolor1)
    
}

.product__rate{
    display: flex;
    justify-content: space-between;
    margin:12px 0;

}

.product__rate-heart{
    color:red;
}

.product__rate-stars>i:first-child{
    color:red;
    
}

.product__origin{
    display: flex;
    justify-content: space-between;
    color:gray;
    font-size: 1.1rem;
}

.product__brand{

}

.product__national{

}

.product__favourite{
    position: absolute;
    padding:2px 4px;
    background-color:var(--maincolor1);
    color:white;
    font-size: 1.2rem;
    top: 14px;
    left: -4px;
    border-radius: 0 3px 3px 0;
}

.product__favourite::before{
    content:"";    
    position: absolute;
    border:2px solid;
    border-color: var(--maincolor1) var(--maincolor1) transparent transparent;
    top:17px;
    left:0;
    filter: brightness(40%);

}


.product__sale-off{
    padding: 6px 3px;
    position: absolute;
    font-size: 1.3rem;
    width: 40px;
    background: #ffd900;
    text-align: center;
    font-weight: 600;
    top:0;
    right: 0;
    opacity: 0.9;
    
}

.product__sale-off-label{
    color: white;
}

.product__sale-off-percent{
    
    color:var(--maincolor1)
}

.product__sale-off::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent #ffd900 transparent;
    border-width: 0 20px 6px;
    top: 36px;
    right: 0;
}

.pagination{
    padding:24px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__btn{
    margin:0 4px;
}


/* footer */

footer{
    padding:20px 0;
    border-top:4px solid var(--maincolor1)


}

.footer__heading{
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.footer__list{
    list-style-type: none;
    font-size: 1.3rem;
}

.footer__item{
    padding:6px 0;
}

.footer__item-link{
    text-decoration: none;
    color:black;
}

.footer__item-link:hover{
    color:var(--maincolor1)
}

.footer__item-link i {
    margin-right: 8px;
}



.footer__down-app{
    display: flex;
}

.footer__qr-code{
    width: 35%;
}

.footer__down-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
}

.footer__appstore{
    height: 22px;

}

.footer__ggplay{
    height: 22px;
}
.footer__end{
    background-color: rgb(241 241 241);
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding:20px 0;
    text-align: center;

}

.footer__end-list{
    display: flex;
    list-style-type: none;
    justify-content: center;
    
}

.footer__end-item{
    padding:0 16px;
    border-right: 1px solid gray;
    cursor: pointer;

}

.footer__end-img{
    height: 50px;
    margin:10px 0;
    cursor: pointer;
}

.footer__end-heading{
    text-align: center;
}

.footer__end-content{
    text-align: center;

}
