header{
    height: var(--height);
    background: linear-gradient(var(--maincolor1),var(--maincolor2));
  }

.header__nav{
    display: flex;
    justify-content: space-between;
    height: var(--navheight);
    font-size: 1.4rem;
    color:white;

}
.nav__list{
    display: flex;
    list-style-type: none;
    
}

.nav__item{
    display:flex;
    align-items: center;
    padding:0 8px;
    position: relative;

}



.nav__item--bold{
    font-weight: 700;
}

.nav__item--separate::after{
    content: "";
    position: absolute;
    height: 50%;
    border-left: 1px solid white;
    right: 0;
}
.nav__link{
    align-items: center;
    display: flex;
    text-decoration: none;
    color:inherit;
}

.nav__link:hover{
    opacity: 0.8;
    
}



.nav__link>i{
    padding:0 4px;
}

.nav__item:hover>.nav__down-app{
    display: flex;
    opacity: 1;
}

.nav__down-app{
    z-index: 10;
    position: absolute;
    top:34px;
    display: none;
    flex-direction: column;
    width: 180px;
    animation: fadein linear 0.2s;
}

.nav__down-app>img{
    width: 100%;
}
.down-app__mobile{
    display: flex;
    justify-content: space-between;
    padding:4px 10px;
}

.down-app__mobile>img{
    height: 17px;
}

.nav__item:hover .header__noti{
    box-shadow: 0 0 6px rgb(180, 179, 179);

    display: block;
    z-index: 10;
}

.header__noti{
    position: absolute;
    top:34px;
    right:0;
    width: 300px;
    display: none;
    animation: scale linear 0.2s;
    transform-origin:90% 0 0 ;
}

.header__noti::after{
    content: "";
    position: absolute;
    border:16px solid;
    border-color: transparent transparent white transparent;
    top: -25px;
    right: 7px;
    border-left-width: 27px;
    border-right-width: 27px;
}

.noti__head{
    background-color: white;
    font-size: 1.6rem;
    padding:8px;
    color:gray;
    padding:8px;
}

.noti__list{
    background-color: beige;
    list-style-type: none;
    overflow: hidden;
}

.noti__item{
    padding:8px 8px 4px ;
    display: flex;
    align-items: center;
    
}

.noti__item:hover{
    background-color: ghostwhite;
    cursor: pointer;
}

.noti__img{
    margin-right: 8px;
    
}
.noti__img>img{
    height: 60%;
    margin: auto;
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.noti__info{
    font-size: 1.2rem;
    color:gray;
    
}

.noti__label{
    color:black;
    font-size: 1.4rem;
    margin-bottom: 2px;
}

.noti__description{
    color: gray;
}

.noti__more{
    
    font-size: 1.2rem;

    text-align: center;
    color:grey;
    background-color: rgb(255, 255, 161);
}

.noti__more>a{
    display: block;
    padding:12px 0;
    text-decoration: none;
    color: unset;
}
.noti__more:hover >a{
    background-color: bisque;
    color:var(--maincolor1);
    text-decoration: underline;
    
}

.header__contents{
    display: flex;
    height: calc(var(--height) - var(--navheight));
    align-items: center;
    padding:0 8px;
    justify-content: space-between;

}

.header__contents{
}

.header__contents svg{
    width: 150px;
}

.header__logo-link{
    margin-right: 10px;
    
}

.header__search{
    background-color: white;
    display: flex;
    flex:1;
    height: 40px;
    padding:3px;
    border-radius: 3px;
    position: relative;

}
.header__search>input{
    width: 90%;
    font-size: 1.6rem;
    margin-right: 3px;
    border:none;
    outline: none;
    padding:0 10px;


}

.header__search>input:focus~.search-history{
    display: block;
}

.search-history{
    display: none;
    position: absolute;
    width: 90%;
    top: 45px;
    background: white;
    border-radius: 3px;
    left: 0;
    padding: 8px 10px;
    box-shadow: 0 0 6px rgb(180, 179, 179);

}

.search-history__header{
    font-size: 1.6rem;
    color:rgb(197, 197, 197);
    margin-bottom: 10px;
}

.search-history__list{
    list-style-type: none;
}

.search-history__item{
    font-size: 1.4rem;
    color: rgb(71, 71, 71);
    padding:4px 0;
}
.search-history__item:hover{
    cursor:pointer;
    background-color: rgb(240, 240, 240);
}
.header__btn-search{
    text-align: center;
    font-size: 20px;
    display: flex;
    align-self: center;
    flex: 1;
    justify-content: center;
    background: var(--maincolor2);
    padding: 7px;
    color: white;
    border-radius: 3px;

}
.header__btn-search:hover{
    background-color: var(--maincolor1);
}
.header__cart{
    font-size: 30px;
    color: white;
    padding:10px;
    margin:0 40px;
    position: relative;
}

.header__cart:hover .cart--empty{
    display: flex;
}

.cart--empty{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 400px;
    top: 50px;
    right: 0;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 240px;
    border-radius:3px ;
    box-shadow: 0 0 6px rgb(180, 179, 179);
    animation: scale linear 0.2s;
    transform-origin:90% 0 0 ;
}

.cart--empty::after{
    
    content: "";
    position: absolute;
    border:16px solid;
    border-color: transparent transparent white transparent;
    top: -25px;
    right: 0px;
    border-left-width: 27px;
    border-right-width: 27px;
}

.cart--empty>img{
    width: 240px;
}

.cart--empty>p{
    color: black;
    font-size: 1.7rem;
}


/* authentic form */
.authen-form{
    padding:32px;
    width: 500px;
  }
  
  .authen-form__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0 30px;
  }
  
  .authen-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
  }
  
  .authen-form__switch-btn{
    color:var(--maincolor1);
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;
    padding:4px;
  
  }
  
  .authen-form__wrap-input{
    margin-bottom: 20px;
  }
  
  .authen-form__input{
    width: 100%;
    height: 32px;
    font-size: 1.4rem;
    padding: 0 10px;
    outline: none;
    
  }

  .authen-form__input:focus{
    border-color: rgb(212, 212, 212);
}
  
  .authen-form__term{
    padding:8px;
    font-size: 1.2rem;
    text-align: center;
    margin-top:40px;
  }
  
  .authen-form__term-link{
    color:var(--maincolor2);
    text-decoration: none;
  }
  .authen-form__term-link:hover{
    color:var(--maincolor1);
    text-decoration: underline;
  
  }
  
  .authen-form__term-link{
    
  }
  
  .authen-form__controls{
    margin-top:28px;
    text-align: right;
  }
  
  .authen-form-quickly{
    display: flex;
    font-size: 1.4rem;
    justify-content: space-around;
    background: rgb(230, 230, 230);
    border-radius: 0 0 5px 5px;
    padding:12px 0;
  }
  
  .authen-form-quickly__social{
    padding: 8px 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    cursor:pointer;

  }

  .authen-form-quickly__social i {
      margin-right: 8px;
  }

  .authen-form-quickly__social.fb{
      background-color: #1877f2;
      color:white;
  }
  .authen-form-quickly__social.gg{
      background-color: white;
      color:red;
  }
  
  
